In [1]:
install.packages("bio3d", dependencies=TRUE)

Warning message:
“dependencies ‘msa’, ‘Biostrings’ are not available”
also installing the dependencies ‘prettyunits’, ‘sys’, ‘stringi’, ‘rprojroot’, ‘pkgbuild’, ‘rstudioapi’, ‘diffobj’, ‘rematch2’, ‘tibble’, ‘askpass’, ‘bitops’, ‘magrittr’, ‘pkgconfig’, ‘bigmemory.sri’, ‘BH’, ‘highr’, ‘markdown’, ‘stringr’, ‘yaml’, ‘xfun’, ‘brio’, ‘callr’, ‘desc’, ‘pkgload’, ‘praise’, ‘processx’, ‘ps’, ‘R6’, ‘waldo’, ‘withr’, ‘curl’, ‘mime’, ‘openssl’, ‘Rcpp’, ‘XML’, ‘RCurl’, ‘ncdf4’, ‘igraph’, ‘bigmemory’, ‘knitr’, ‘testthat’, ‘httr’

The downloaded binary packages are in
	/var/folders/g5/n3zk3f3554xccc2gvf5jp63r0000gn/T//RtmpqsdnPm/downloaded_packages

In [10]:
library(bio3d)

In [12]:
pdb <- read.pdb( system.file("4YC6.pdb", package="bio3d") )

ERROR: Error in read.pdb(system.file("4YC6.pdb", package = "bio3d")): No input PDB file found: check filename

In [13]:
pdb <- read.pdb("4YC6")

  Note: Accessing on-line PDB file
   PDB has ALT records, taking A only, rm.alt=TRUE

In [15]:
head(pdb$atom)

  type eleno elety alt resid chain resno insert x      y      z       o b
1 ATOM 1     N     NA  MET   A     1     NA     16.608 32.672 -27.872 1 147.56
2 ATOM 2     CA    NA  MET   A     1     NA     17.363 31.409 -27.535 1 152.23
3 ATOM 3     C     NA  MET   A     1     NA     18.837 31.376 -27.949 1 153.60
4 ATOM 4     O     NA  MET   A     1     NA     19.519 30.373 -27.704 1 160.35
5 ATOM 5     CB    NA  MET   A     1     NA     16.661 30.149 -28.105 1 160.38
6 ATOM 6     CG    NA  MET   A     1     NA     16.318 29.088 -27.064 1 163.41
  segid elesy charge
1 NA    N     NA
2 NA    C     NA
3 NA    C     NA
4 NA    O     NA
5 NA    C     NA
6 NA    C     NA

In [16]:
pdb

 Call:  read.pdb(file = "4YC6")

   Total Models#: 1
     Total Atoms#: 12271,  XYZs#: 36813  Chains#: 8  (values: A B C D E F G H)

     Protein Atoms#: 11632  (residues/Calpha atoms#: 1420)
     Nucleic acid Atoms#: 0  (residues/phosphate atoms#: 0)

     Non-protein/nucleic Atoms#: 639  (residues: 639)
     Non-protein/nucleic resid values: [ HOH (639) ]

   Protein sequence:
      MEDYTKIEKIGEGTYGVVYKGRHKTTGQVVAMKKIRLESEEEGVPSTAIREISLLKELRH
      PNIVSLQDVLMQDSRLYLIFEFLSMDLKKYLDSIPPGQYMDSSLVKSYLYQILQGIVFCH
      SRRVLHRDLKPQNLLIDDKGTIKLADFGLARAFGVYTHEVVTLWYRSPEVLLGSARYSTP
      VDIWSIGTIFAELATKKPLFHGDSEIDQLFRIFRALGTPNNEVWP...<cut>...RPLP

+ attr: atom, xyz, seqres, helix, sheet,
        calpha, remark, call